<div class="group-panel">
  <div class="container-fluid">
    <div class="row">
      <% @comedians.each do |x| %>
          <div class="col-xs-4 col-lg-2 comedian-panel-container-outer-hover comedian-hover-box">
            <!-- <div id="panel" class="panel panel-warning comedian-panel-container-inner"> -->
            <div class="panel-body comedian-filler-box" style="display:none;"></div>
            <div class="panel-body comedian-panel-container-body-hover">
              <%= link_to image_tag(x.avatar.url(:medium), class: "img-rounded img-responsive img-center"), x %>
              <h4><%= link_to x.name, x, class: "comedian-table-link" %></h4>
              <h4>Rating Goes Here</h4>
              <% unless x.show.nil? || x.next_show_name.nil? || x.next_show.date.nil? %>
                <%= link_to x.next_show_name, x.next_show %>
              <% end %>
            </div>
            <!-- </div> -->
          </div>
      <% end %>
    </div>
  </div>
</div>
