/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Beginning of css for panels*/


 .user-row {
     margin-bottom: 14px;
 }

 .user-row:last-child {
     margin-bottom: 0;
 }

 .dropdown-user {
     margin: 13px 0;
     padding: 5px;
     height: 100%;
 }

 .dropdown-user:hover {
     cursor: pointer;
 }

 .table-user-information > tbody > tr {
     border-top: 1px solid rgb(221, 221, 221);
 }

 .table-user-information > tbody > tr:first-child {
     border-top: 0;
 }


 .table-user-information > tbody > tr > td {
     border-top: 0;
 }

/* End of css for panels*/

.fa-microphone {
  font-size: 25pt;
}

body {
  padding-top: 5px;
}

.navbar-brand {
  padding: 1px !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.comedian-table-link {
  color: #8a6d3b;
  font-family: Verdana, Geneva, sans-serif;
}

.comedian-table-link:hover {
  color: #8a6d3b;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

ul.navbar-nav li a {
  font-size: 14pt;
  font-family: Verdana, Geneva, sans-serif;
}

h3 {
  font-family: Verdana, Geneva, sans-serif;
}

.panel-body a {
  color: #8a6d3b;
}

.panel-body a {
  color: #8a6d3b;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#comedian_avatar {
  display: inline-block;
}

.col-centered {
  float: none !important;
  margin: 0 auto !important;
}

.comedian-signup-container {
  display: flex;
  flex-direction: column;
}

.comedian-signup-master-container {
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 50px 20px !important;
  border-radius: 10pt;
}

.submit-and-back-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 35%;
}

h1 {
  font-family: Verdana, Geneva, sans-serif !important;
  color: #8a6d3b !important;
}

.banner-filler {
  padding-top: 50px;
}

.horiz-flex-box {
  display:flex;
  flex-direction: row;
}

.vert-flex-box {
  display:flex;
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.list-unstyled {
  text-align: left;
}

li.centered-list-item {
  text-align: center;
}

.section-heading {
  font-family: Verdana, Geneva, sans-serif !important;
  color: #656565 !important;
}
hr.jumbo {
    width: 6%;
    height: 10px;
    border: 1;
    box-shadow: inset 0 9px 9px -3px #ac1c35;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
}

/* New Comedian Panels Beginning */
.comedian-panel-container-outer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 0 !important;
  margin: 10px !important;
  transition: width 2s, max-height 2s, min-height 2s;
}

.comedian-panel-container-outer-hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 0 !important;
  margin: 10px !important;
  position: relative !important;
  transition: width 2s, max-height 2s, min-height 2s;

}

.comedian-panel-container-inner {
  transition: width 2s, max-height 2s, min-height 2s;
}

.comedian-panel-container-inner-hover {
  transition: width 2s, max-height 2s, min-height 2s;
}

.comedian-panel-container-body {
  min-height: 375px;
  max-height: 375px;
  height: 375px;
  transition: width 2s, max-height 2s, min-height 2s;
  text-align: center;
}

.comedian-panel-container-body-hover {
  min-height: 500px;
  max-height: 500px;
  height: 500px;
  transition: width 2s, max-height 2s, min-height 2s;
}

.comedian-panel-body-line {
  display: inline;
  flex-direction: row;
  justify-content: flex-start;
  transition: display 2s, flex-direction 2s, justify-content 2s;
}

.comedian-panel-body-line-hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: display 2s, flex-direction 2s, justify-content 2s;
}

.comedian-filler-box-body {
  min-height: 375px;
  max-height: 375px;
  height: 375px;
  display: none;
  transition: width 2s, max-height 2s, min-height 2s;
  display: none;
}

.comedian-filler-box-body-hover {
 min-height: 375px;
 max-height: 375px;
 height: 375px;
 display: block;
}

.comedian-filler-box-outer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 0 !important;
  margin: 10px !important;
  transition: width 2s, max-height 2s, min-height 2s;
  display:none;
}

.comedian-filler-box-outer-hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 0 !important;
  margin: 10px !important;
  transition: width 2s, max-height 2s, min-height 2s;
  display: block;
}

.hidden {
  display: none;
  transition: display 2s;
  transition-delay: 2s;
}

.was-hidden {
  transition: display 2s;
  transition-delay: 2s;
}

/*.comedian-panel-bottom {
  align-self: baseline;
}*/

/* New Comedian Panels End */
