/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* beginning of image gallery start on homepage --*/
<style>
 
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Georgia", serif;
}
 
 
/*
  Container for the gallery:
 
  Absolutely positioned
  Stretch to fill the whole window width
  Fixed height
  Hide the overflow to prevent horizontal scrollbars
 
  Vertically centred in the viewport: http://css-discuss.incutio.com/wiki/Centering_Block_Element#Centering_an_absolutely_positioned_element 
*/
 
#galleryContainer {
  width: 100%;
  height: 500px;  /* Image height + 200px */
  display:inline;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}
 
 
/*
  The gallery div that contains all the images
 
  We'll set the width dynamically in the JavaScript as the images load
*/
 
#gallery {
  width: 100px;
  height: 400px;        /* Image height + 100px */
  padding: 50px 0 50px 0;
  position: absolute;
  z-index: 1;
}
 
 
/*
  Individual slides within the gallery:
 
  Float them left so that they're all side by side
  Fixed height (the width will vary as required)
  Add some horizontal margin between the slides
  Add a bottom fading reflection for WebKit browsers
*/
 
#gallery img {
  float: left;
  height: 300px;
  margin: 0 100px;      /* Adjust the left/right margin to show greater or fewer slides at once */
  -webkit-box-reflect:
    below
    0
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(1, rgba(255, 255, 255, .5)),
      color-stop(.8, rgba(255, 255, 255, 0))
    );
}

#gallery.container img {
    width:100%; /* you can use % */
    height: auto;
}
 
/*
  Left and right buttons:
 
  Position them on the left and right sides of the gallery
  Stretch them to the height of the gallery
  Hide them by default
*/
 
#leftButton, #rightButton {
  position: absolute;
  z-index: 2;
  top: -100px;
  bottom: 0;
  padding: 0;
  margin: auto 0;
  width: 15%;
  height: 600px;        /* Image height */
  border: none;
  outline: none;
  color: #fff;
  background: transparent url(images/blank.gif);
  font-size: 100px;
  font-family: "Courier New", courier, fixed;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
 
#leftButton {
  left: 0;
}
 
#rightButton {
  right: 0;
}
 
/* (Turn off dotted black outline on FF3) */
 
#leftButton::-moz-focus-inner, #rightButton::-moz-focus-inner {
  border: none;
}
 
/*
  Left and right button hover states:
  Fade them in to 50% opacity
*/
 
#leftButton:hover, #rightButton:hover {
  opacity: .5;
  filter: alpha(opacity=50);
  outline: none;
}
 
 
/*
  Image caption:
 
  Position just under the centre image
  Hide by default
*/
 
#caption {
  position: absolute;
  z-index: 2;
  bottom: 90px;
  width: 100%;
  color: #ffc;
  text-align: center;
  font-family: "Georgia", sans-serif;
  font-size: 24px;
  letter-spacing: .1em;
  display: none;
}
 
 
/*
  Loading text:
 
  Position in the centre of the gallery container
  Hide by default
*/
 
#loading {
  position: absolute;
  z-index: 1;
  bottom: 50%;
  width: 100%;
  color: #ffc;
  text-align: center;
  font-family: "Georgia",sans-serif;
  font-size: 36px;
  letter-spacing: .1em;
  opacity: 0;
  filter: alpha(opacity=0);
}
 
</style>
 
 
/*<!-- IE7 positions the buttons incorrectly; compensate -->
 
/*<!--[if lt IE 8]>
<style>
#leftButton, #rightButton {
  top: 50px;
}
</style>


/*<!-- end of image gallery -->*/

 /* Beginning of css for panels*/

 td ul a {
   color: black !important;
 }

 td ul a:hover {
   text-decoration: none !important;
   font-weight: bold !important;
 }

 .user-row {
     margin-bottom: 14px;
 }

 .user-row:last-child {
     margin-bottom: 0;
 }

 .dropdown-user {
     margin: 13px 0;
     padding: 5px;
     height: 100%;
 }

 .dropdown-user:hover {
     cursor: pointer;
 }

 .table-user-information > tbody > tr {
     border-top: 1px solid rgb(221, 221, 221);
 }

 .table-user-information > tbody > tr:first-child {
     border-top: 0;
 }


 .table-user-information > tbody > tr > td {
     border-top: 0;
 }

/* End of css for panels*/

.navbar-brand {
  padding: 2px 5px!important;
  background-color: #9d9d9d  
}
.navbar-inverse .navbar-header .navbar-brand:hover {
  padding: 2px 5px!important;
  background-color: #9d9d9d  
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.comedian-table-link {
  color: #8a6d3b;
  font-family: Verdana, Geneva, sans-serif;
}

.comedian-table-link:hover {
  color: #8a6d3b;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

ul.navbar-nav li a {
  font-size: 15pt;
  font-family: Verdana, Geneva, sans-serif;
}

h3 {
  font-family: Verdana, Geneva, sans-serif;
}

.panel-body a {
  color: #8a6d3b;
}

.panel-body a {
  color: #8a6d3b;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#comedian_avatar {
  display: inline-block;
}

.col-centered {
  float: none !important;
  margin: 0 auto !important;
}

.comedian-signup-container {
  display: flex;
  flex-direction: column;
}

.comedian-signup-master-container {
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 50px 20px !important;
  border-radius: 10pt;
}

.submit-and-back-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 35%;
}

h1 {
  font-family: Verdana, Geneva, sans-serif !important;
  color: #8a6d3b !important;
}

.banner-filler {
  padding-top: 50px;
}

.horiz-flex-box {
  display:flex;
  flex-direction: row;
}

.vert-flex-box {
  display:flex;
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.list-unstyled {
  text-align: left;
}

li.centered-list-item {
  text-align: center;
}

.section-heading {
  font-family: Verdana, Geneva, sans-serif !important;
  color: #656565 !important;
}
hr.jumbo {
    width: 6%;
    height: 10px;
    border: 1;
    box-shadow: inset 0 9px 9px -3px #ac1c35;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
}

/* New Comedian Panels Beginning */
.comedian-panel-container-outer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 0 !important;
  margin: 10px !important;
  transition: width 2s, max-height 2s, min-height 2s;
}

.comedian-panel-container-outer-hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 0 !important;
  margin: 10px !important;
  position: relative !important;
  transition: width 2s, max-height 2s, min-height 2s;

}

.comedian-panel-container-inner {
  transition: width 2s, max-height 2s, min-height 2s;
}

.comedian-panel-container-inner-hover {
  transition: width 2s, max-height 2s, min-height 2s;
}

.comedian-panel-container-body {
  min-height: 375px;
  max-height: 375px;
  height: 375px;
  transition: width 2s, max-height 2s, min-height 2s;
  text-align: center;
}

.comedian-panel-container-body-hover {
  min-height: 500px;
  max-height: 500px;
  height: 500px;
  transition: width 2s, max-height 2s, min-height 2s;
}

.comedian-panel-body-line {
  display: inline;
  flex-direction: row;
  justify-content: flex-start;
  transition: display 2s, flex-direction 2s, justify-content 2s;
}

.comedian-panel-body-line-hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: display 2s, flex-direction 2s, justify-content 2s;
}

.comedian-filler-box-body {
  min-height: 375px;
  max-height: 375px;
  height: 375px;
  display: none;
  transition: width 2s, max-height 2s, min-height 2s;
  display: none;
}

.comedian-filler-box-body-hover {
 min-height: 375px;
 max-height: 375px;
 height: 375px;
 display: block;
}

.comedian-filler-box-outer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 0 !important;
  margin: 10px !important;
  transition: width 2s, max-height 2s, min-height 2s;
  display:none;
}

.comedian-filler-box-outer-hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  padding: 0 !important;
  margin: 10px !important;
  transition: width 2s, max-height 2s, min-height 2s;
  display: block;
}

.hidden {
  display: none;
  transition: display 2s;
  transition-delay: 2s;
}

.was-hidden {
  transition: display 2s;
  transition-delay: 2s;
}

/* New Comedian Panels End */

/* Comments formatting beginning */
.comment-container {
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 5px grey;
  background: #f4ecd6;
}

.comment-individual {
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

.add-review-button {
  padding-top: 10px;
}

.comment-body {
  padding: 5px 10vw;
  text-align: left;
}
/* Comments formatting end */
