// Place all the styles related to the Comedians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #86888c!important;
}
div {
  text-align: center;
}

h3 {
  color: #eee!important;
}
.square, .btn {
    border-radius: 0px!important;
}
.square, .btn {
    border-radius: 0px!important;
}

/* -- color classes -- */
.coralbg {
    padding: 2em;
    background-color: #f6d258; /*FA396F is now yellow*/
}

.coral {
    color: #c34946;/*lighter red*/
}

.turqbg {
    background-color: #ac1c35;/*46D8D2 dark red*/
}

.turq {
    color: #f6d258; /*yellow*/
}

.white {
    color: #414d4b!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
p.profile-rating {
  color: #86888c!important;
}
div.average-review-rating {
  margin: 0 auto;
}

div.user-menu-container {
  z-index: 10;
  background-color: #303030; /*used to be white*/
  margin-top: 1em;
  margin-left: 0em;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);/*grey*/
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

div.user-menu-container .btn-lg {
    padding: 1em 1em;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b; /*dark grey*/
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:20em;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    padding: 0em 0em 0em 0em;
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 2em 1.70em;
    background-color: #303030;
    color: white;
    border-color: #f4ecd6;
}

div.btn-group-vertical>a:hover {
    color: #f6d258;
    border-color: #fff;
}

div.btn-group-vertical>a.active {
    background: #c34946;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #c34946; /*was turq 46d8d2*/
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #414d4b; /*dark grey*/
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {
	position: relative;
	left: -9px;
	display:
	inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15); /*#fff*/
	border-radius: 3px 0 0 3px;
}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 2em 1em;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #303030;
    min-height: 333px;
}

.user-image {
  max-height:300px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(246, 210, 88, 0.64);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

col.comedian-1 {
  width: 30%;
}

col.comedian-2 {
  width: 70%;
}

.com-prof-button {
  max-height: 25%;
  min-height: 25%;
}

.vert-button-container {
  position: absolute;
  height: 100%;
}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}
