.show-left-box {
  width: 30vw;
}

.show-right-box {
  width: 70vw;
}

.show-container {
  height: 76.7%;
}

.show-top-left-box {
  padding: 20px 20px;
}

.show-header-container {
  height: 18%;
}

.show-header-name {
  padding-left: 15px;
  text-align: left;
}

.show-header-venue {
  padding-left: 30px;
  text-align: left;
}

.show-body-outer-box {
  padding: 50px;
  margin: 0 20px;
  height: 200px;
}

.show-name-box {
  text-align: left;
  padding-top: 10px;
}

#show-header-name {

}

#show-header-venue {
}
