.show-left-box {
  width: 35vw;
  background-color: #c34946;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-left-box:after {
  width: 1px;
  height: 75%;
  background: black;
}

.show-right-box {
  width: 65vw;
  background-color: #f6d258;
  min-height: 0;
}

.show-container {
  height: 94.7%;
}

.show-top-left-box {
  padding: 20px 20px;
}

.show-header-container {
  margin-top: 0em;
  height: 18vh;
  background-color: #c34946;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0;
  border-bottom: 1px solid #dadada;
}

.show-header-name {
  padding-left: 15px;
  text-align: left;
}

h5.show-header-venue {
  margin: 0;
  color: white;
}

.show-header-venue {
  padding-left: 30px;
  text-align: left;
  align-items: flex-start;
}

.show-header-venue a {
  color: white;
}

.show-header-venue a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
}


.show-body-outer-box {
  padding: 20px;
  margin: 20px 30px 10px;
  min-height: 200px;
  background-color: #303030;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-body-inner-box {
  padding: 20px;
  margin: 10px 30px;
  min-height: 200px;
  background-color: #303030;
  border-radius: 10px;
}

.show-name-box {
  text-align: left;
  padding-top: 10px;
}

#show-header-name {

}

#show-header-venue {
}


ul li.show-bookings {
  list-style-type: none;
  padding: 5px;
}

ul {
  padding-left: 10px;
}

.show-bookings-name {
}

.show-bookings-name * {
  text-align: center;
}

.show-bookings-name *:hover {
  text-decoration: none;
  font-weight: normal;
}

.show-bookings-name>div:first-child {
  color: black;
  font-size: 14pt;
}

.show-bookings-name>div:nth-child(2) {
  color: black;
  font-size: 10pt;
}

.show-bookings-name>div:first-child:hover {
  color: black;
  font-size: 16pt;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.show-bookings-name>div:nth-child(2):hover {
  color: black;
  font-size: 10pt;
  text-decoration: none;
}

.comedian-show-panel-outer {
  background-color: #f6d258;
  margin: 15px 0;
  padding: 15px 15px;
  border-radius: 5px;
  max-width: 160px;
  min-width: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  border-radius: 10pt;
}

.comedian-show-panel-outer-filler {
  margin: 15px 0;
  padding: 0 15px;
  max-width: 125px;
  min-width: 125px;
}

.comedian-review-master-container {
  background-color: #303030;
  padding: 1em 6em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  border-radius: 10pt;
}
.comedian-review-container {
  display: flex;
  flex-direction: column;
}

.comedian-form {
  max-height: 500px!important;
}

.booked-comedians-title {
  font-size: 20pt;
  text-align: left;
  color: white;
}

.show-bookings-title {
  border: 1px solid;
  margin: 25px 0;
  padding: 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #303030;
}

.show-title-box {
  padding: 20px 25px;
  background-color: #303030;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.average-review-rating {
  margin: 0;
  margin-left: 30px;
}
body {
  background-color: #303030!important;
}
.rating-form-box {
  background-color: #303030;
  margin: 10px 10px;
  padding: 0em 0em;
  max-width: 25%;
}

.rating-form {
  margin-left: 10px;
  max-width: 100%;
}

.show-body-outer-box h2 {
  color: white;
  margin: 0;
}

.show-review-master-container {
  background-color: #303030;
  padding: 20px 0 40px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /*border-radius: 10pt;*/
  margin: 20px;
}

.textarea.show {
  max-height: 6em;
  min-width: 900px;
  resize: none;
}

.show-comment-review-box {
  margin: 0 auto;
}

div.individual-show-comment {
  margin: 15px 30px;
  min-height: 100px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  background-color: #303030;
  border-radius: 10px;
}

.show-right-side {
  background-color: #f6d258;
}

.map-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  background-color: #303030;
  border-radius: 10px;
}

.map-wrapper h2 {
  color: white;
}

.gmaps_iframe {
  padding: 10px;
}

div.title-stars {
  width: auto;
  margin-bottom: 5px;
}

p.show-bio {
  color: white;
  font-weight: normal;
  font-size: 12pt;
  text-align: left;
}

.show-bio-box {
  padding: 20px 25px;
  background-color: #303030;
  margin: 0 70px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.line-up-name {
  padding-left: 10px;
}

.line-up-row {
  padding-bottom: 10px;
}

.show-panel-bottom {
  padding-bottom: 10px !important;
  border-bottom: 1px solid white;
}
