<div class="show-body-outer-box">
	<h2>Write a Review!</h2>
	<div class="rating-form-box horiz-flex-box">
		<%= form_for([@show, @show.reviews.build]) do |f| %>
	</div>
	<div class="">
		<div class="horiz-flex-box left-align">
			<div class="vert-flex-box show-comment-review-box">
				<div id="rating-form" class="rating-form">
				</div>
				<%= f.text_area :comment, class:'textarea show' %>
			</div>
		</div>
		<br>
	</div>
	<div class="">
		<%= f.submit %>
	</div>
	<% end %>
</div>
