    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </header>

<!-- Comedian panels -->

<%= render 'bookings/index' %>
<div class='render-search-results' >
  <%= render 'application/partial_render_logic' %>
</div>


    <!-- Page Content -->
    <section id="services" class="landing-background">
      <div class="jumbotron text-center">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading">Connecting the community through laughter</h1>
            <hr class="jumbo">
            <h2>Find top rated comedians in your area</h2>
            <br><br><br><br>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4 text-center">
              <div class="service-box">
                <div class="bounce-on-hover">
                  <a href="/comedians"><i class="fa fa-comments" style="font-size:48px;color:#ac1c35; animation-name: bounceIn"></i></a>
                </div>
                <h2 class="jumbo">Local Comedians</h2>
                <p class="text-muted">Checkout comedian profiles to see when they are performing and what the locals say about them.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
              <div class="service-box">
                <div class="bounce-on-hover">
                  <a href="/shows"><i class="fa fa-sitemap" style="font-size:48px;color:#ac1c35; animation-name: bounceIn"></i></a>
                </div>
                <h2 class="jumbo">A Social Network</h2>
                 <p class="text-muted">Stay current with discussion in the comedic industry.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
              <div class="service-box">
                <div class="bounce-on-hover">
                  <i class="fa fa-user-plus animated bounceIn" style="font-size:48px;color:#ac1c35; animation-name: bounceIn"></i>
                </div>
                <h2 class="jumbo">Search and Book Local Shows</h2>
                <p class="text-muted">Finally find a quick and easy way to find all the best shows closest to you.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
              <div class="service-box">
                <div class="bounce-on-hover">
                  <i class="fa fa-line-chart animated bounceIn" style="font-size:48px;color:#ac1c35; animation-name: bounceIn"></i>
                </div>
                <h2 class="jumbo">Watch Talent Flourish</h2>
                <p class="text-muted">A platform to showcase aspiring comedians and build reputation. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

