    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </header>

<!-- Comedian panels -->

<%= render 'bookings/index' %>
<div class='render-search-results' >
  <%= render 'application/partial_render_logic' %>
</div>


    <!-- Page Content -->
    <section id="services" class="landing-background">
      <div class="jumbotron text-center">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading">Connecting the community through laughter</h1>
            <hr class="jumbo">
            <h2>Find top rated comedians in your area</h2>
            <br><br><br><br>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
              <div class="service-box">
                <div class="bounce-on-hover">
                  <i class="fa fa-comments" style="font-size:48px;color:#ac1c35; animation-name: bounceIn"></i>
                </div>
                <h3>Local Comedians</h3>
                <p class="text-muted">Checkout comedian profiles to see when they are performing and what the locals say their jokes are like.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
              <div class="service-box">
                <div class="bounce-on-hover">
                  <i class="fa fa-sitemap" style="font-size:48px;color:#ac1c35; animation-name: bounceIn"></i>
                </div>
                <h3>A Social Network</h3>
                 <p class="text-muted">Stay current with discussion in the comedic industry.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
              <div class="service-box">
                <div class="bounce-on-hover">
                  <i class="fa fa-user-plus animated bounceIn" style="font-size:48px;color:#ac1c35; animation-name: bounceIn"></i>
                </div>
                <h3>Search and Book Local Shows</h3>
                <p class="text-muted">Finally find a quick and easy way to find all the best shows closest to you.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
              <div class="service-box">
                <div class="bounce-on-hover">
                  <i class="fa fa-line-chart animated bounceIn" style="font-size:48px;color:#ac1c35; animation-name: bounceIn"></i>
                </div>
                <h3>Watch Talent Flourish</h3>
                <p class="text-muted">Inter-connecting aspiring comedians within industry to encourage growth and build reputation. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; Your Website 2014</p>
    </div>
  </div>
  <!-- /.row -->
</footer>
